// .App {
//   text-align: center;
//   // background: green;
// }

// .App-logo {
//   height: 40vmin;
//   pointer-events: none;
// }

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
// body{
//   background: yellow;
// }
// .hello {
//   color: red;
// }
html, 
body,
.App {
  height: 100vh;
  background: #f8f8f8;
  // padding: 1em;
  // background: red;
}
.login, .register{
  padding: 1em;
  height: 100vh;
  background: #f8f8f8;
  display: flex;
  justify-content: center;
}
@import './assets/styles/Feed';
@import './assets/styles/Checkbox';
@import './assets/styles/card';
@import './assets/styles/dropdown';
@import './assets/styles/profileForm.scss';
@import './assets/styles/Header.scss';
@import './assets/styles/Match.scss';
